<style>
#footer {
    position: fixed;
    height: 50px;
    background: #666;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

    body {
        margin-bottom:50px;
    }


</style>

  <footer>
    <center>

                <p1>
            &#160;
        </p1>
    <p> Created by Eric Boittier </p>

      <!-- Start of CuterCounter Code -->
        <a href="https://www.webfreecounter.com/" target="_blank"><img src="https://www.cutercounter.com/hits.php?id=huxdoppo&nd=6&style=11" border="0" alt="best free website hit counter">  </a> visitors and counting!
      <!-- End of CuterCounter Code -->

        </center>

  </footer>