<style>

      footer {
        padding: 10px 20px;
        background: #666;
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
      }


</style>

  <footer>

    <p> Created by Eric Boittier </p>

      <!-- Start of CuterCounter Code -->
        <a href="https://www.webfreecounter.com/" target="_blank"><img src="https://www.cutercounter.com/hits.php?id=huxdoppo&nd=6&style=11" border="0" alt="best free website hit counter"> visitors and counting! </a>
      <!-- End of CuterCounter Code -->

  </footer>