<!DOCTYPE html>
<html lang="en">

<link rel="icon" href="https://ericboittier.pythonanywhere.com/static/flavicon.png">

<head>
    <meta charset="UTF-8">
    <title>Ligand Torsions</title>
</head>
<body>

<div>
    <a href="https://plot.ly/~4boitter/6/?share_key=NSpvRiG9737ejHoLTR29y2" target="_blank" title="basic-scatter.html" style="display: block; text-align: center;"><img src="https://plot.ly/~4boitter/6.png?share_key=NSpvRiG9737ejHoLTR29y2" alt="basic-scatter.html" style="max-width: 50%;width: 50%;"  width="50%" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="4boitter:6" sharekey-plotly="NSpvRiG9737ejHoLTR29y2" src="https://plot.ly/embed.js" async></script>
</div>


</body>
</html>