<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vinacarb Output</title>
</head>
<body>

<img src="/data/test/{{ barchart }}">


<script src="https://unpkg.com/ngl@0.10.4/dist/ngl.js"></script>
<script>

function defaultStructureRepresentation( component ){
    // bail out if the component does not contain a structure
    if( component.type !== "structure" ) return;
    // add three representations
    component.addRepresentation( "cartoon", {
        aspectRatio: 3.0,
        scale: 1.5
    } );
    component.addRepresentation( "licorice", {
        sele: "hetero and not ( water or ion )",
        multipleBond: true
    } );
    component.addRepresentation( "spacefill", {
        sele: "water or ion",
        scale: 0.5
    } );
}

function distanceSelection ( o ){
    // get all atoms within 5 Angstrom of selection
    var selection = new NGL.Selection( "saccharide" );
    var radius = 6;
    var atomSet = o.structure.getAtomSetWithinSelection( selection, radius );
    // expand selection to complete groups
    var atomSet2 = o.structure.getAtomSetWithinGroup( atomSet );
    o.addRepresentation( "licorice", { sele: atomSet2.toSeleString() } );
    // o.addRepresentation( "cartoon" );
    o.autoView();}

document.addEventListener("DOMContentLoaded", function () {

{% for n in clusters %}
var {{ n[5:7] }} = new NGL.Stage("{{ n }}", {backgroundColor:'white', sampleLevel: 5});
{{ n[5:7] }}.loadFile( "/data/test/{{ n }}" , {defaultRepresentation: true}).then( distanceSelection );
{% endfor %}
});

</script>


{% for n in clusters %}


    <center>
        <h1> {{ n }} </h1>
    <div id="{{ n }}" style="width:500px; height:400px;"></div>
    </center>

{% endfor %}


</body>
</html>